@import "../../styles/global";

.orders {
  height: 100vh;
  width: 100%;
  background-color: $bg-secondary;
  position: relative;

  .home-icon {
    position: absolute;
    left: 3rem;
    top: 8rem;
    font-size: 2em;
    cursor: pointer;
  }

  .orders-wrapper {
    min-height: 85vh;
    max-height: 85vh;
    width: 60%;
    margin: 1em auto;
    background-color: $bg-primary;
    padding: 2rem 3rem;

    .orders-head {
      display: flex;
      gap: 2rem;
      color: $text-primary;
      align-items: center;
      flex-wrap: wrap;

      h1 {
        padding: 0;
        display: inline-block;
        font-weight: $font-weight-medium;
      }

      .order-tabs {
        display: flex;
        gap: 0.5rem;
        background-color: $bg-secondary;
        padding: 0.3rem;
        border-radius: $border-radius-medium;

        button {
          padding: 0.6rem 1.5rem;
          background-color: transparent;
          color: $text-2-primary;
          border: none;
          border-radius: $border-radius-light;
          cursor: pointer;
          font-size: $font-size-option;
          transition: all 0.3s ease;

          &:hover {
            background-color: rgba(18, 196, 88, 0.1);
          }

          &.active {
            background-color: $bg-fill-color-green;
            color: white;
          }
        }
      }
    }
    .order-summary {
      margin: 2em 0;
      height: 70vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.order-item {
  width: 100%;
  background-color: rgba(107, 107, 107, 0.274);
  border-radius: $border-radius-medium;
  margin: 0.5em 0;
  color: $text-primary;
  cursor: pointer;

  .order-info,
  p {
    display: flex;
    align-items: center;
  }

  .order-info {
    justify-content: space-around;
    padding: 1.5em;

    p {
      font-size: $font-size-option;
    }

    span {
      color: orange;
      margin-right: 0.5em;
    }

    .date {
      color: rgba(214, 214, 214, 0.568);
    }
  }

  .order-items {
    overflow: hidden;
  }
}

.order-item-info {
  background-color: rgba(70, 70, 70, 0.2);
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal spacing */
  justify-items: center;
  padding: 0.2em 1em;
  margin: 0.4em 0;

  .item-img-name {
    height: 3em;
    width: 3em;
    display: flex;
    width: 100%;
    gap: 1.5em;

    img {
      height: 3em;
      width: 3em;
      border-radius: 50%;
      object-fit: cover;
      max-width: 100%;
      max-height: 100;
    }
  }
}
